body{
    margin: 0;
    padding: 0;
    background: url(bea.JPG);
    background-size:cover;
    background-position: center;
    font-family: sans-serif;
    
}

.loginbox{
    width: 320px;
    height: 420px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
}

.avatar{
    width: 300px;
    height: 250px;
    border-radius: 50%;
    position: absolute;
    top: -160px;
    left: -5px;
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
    color: black;
    
}
.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"], input[type= "password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
.loginbox input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
.loginbox input[type="submit"]:hover{
    cursor: pointer;
    background: #ffc107;
    color: #000;
}
.loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
    
}
.loginbox a:hover{
    color: #ffc107;
}
.buttons button{
	height: 50px;
	width: 150px;
	font-size: 25px;
	font-weight: 600;
	color: black;
	background: none;;
	outline: none;
	cursor: pointer;
	border: 2px solid white;
	border-radius: 25px;
	transition: .4s;
    
    padding: 6px 13px;
    text-decoration: none;
    margin-right: 50px;
    
}
.buttons button:hover{
	background: navajowhite;
}
